.butaoLogin{

    position: absolute;
    padding: 0px;
    margin: 0px;
    top: 70%;
    right: 167%;
    width: 35%;
    height: 9%;

}

.loginNome{
    height: 10%;
    left: 6.5%;
    top: 24%;
    float: left;
    position: absolute;
    padding: 0px;
    margin: 0px;
    font-family:serif;
}

.senhaNome{
    height: 10%;
    left: 6.5%;
    top: 45%;
    float: left;
    position: absolute;
    padding: 0px;
    margin: 0px;
    font-family:serif;
}

.inputSenha{
    height: 7.5%;
    left: 6.5%;
    top: 54%;
    float: left;
    position: absolute;
    padding: 0px;
    margin: 0px;
}

.inputLogin{
    height: 7.5%;
    left: 6.5%;
    top: 33%;
    float: left;
    position: absolute;
    padding: 0px;
    margin: 0px;
}

#menuDoLogin{
    left: 55px;
    top: 140px;
    height: 55%;
    width: 260px;
    float: left;
    position: relative;
    padding: 0px;
    margin: 0px;
}

#textoLoginDeDentroDiv2{
    font-size: 16px;
    text-align: center;
    color: white;
    left: 10px;
    top: 55px;
    position: absolute;
    font-style: initial;
    font-weight: 30;
}

#textoLoginDaDiv2{
    left: 80px;
    position: absolute;
    font-family: sans-serif;
    color: white;
}

#divTexto{
    left: 80px;
    position: absolute;
    top: 250px;
    width: 50%;
    height: 70%;
    z-index: -1;
}

#loginSenha{
    background: white;
    position: relative;
    right: -200px;
    top: -100px;
    width: 80%;
    height: 84%;
    border: 0px solid ;	
    z-index: -1;
}

#apresentacaoLogin{
    background: #6d6868;
    position: absolute;
    right: -270px;
    top: -100px;
    width: 52%;
    height: 84%;
    border: 0px solid;	
    z-index: -1;
}

#formulario{
    position: relative;
    right: -200px;
    top: 50px;
    border: 3px solid #6d6868;	
    border-radius: 10px;
    align-items: center;
}

body{
    margin-top: 0px;
    background: #cccccc;
}

#menu{
    height: 85%;
    width: 350px;
    float: left;
    position: relative;
    padding: 0px;
    margin: 0px;
}

#textoLogin{
    left: 35px;
    position: absolute;
    font-family: sans-serif;
}
#textoDentroLogin{
    color: #c1b2b2;
    left: 35px;
    top: 35px;
    position: absolute;
    font-family: initial;
}
#faixa{
    position: absolute;
    width: 98.8%;
    height: 250px;
    background: #565656;
    z-index: -1;
}

.menuBT{
    color: #cccccc;
    font-size: 18px;
    background: transparent;
    height: 60px;
    padding: 15px 35px;
    position: relative;
    float: left;
    border: 1px solid #565656;
}
.menuBT:hover{
    background: #494949;
}

#botoes{
    position: relative;
    top: 190px;
    left: 5%;
}

#divTexto{
    position: absolute;
    top: 250px;
    width: 50%;
    height: 70%;
    z-index: -1;
}

#titulo{
    position: relative;
    right: -470px;
    top: 50px;
    font-size: 30px;
    font-style: arial;
    color: black;

}

#texto{
    font-size: 35px;
    text-align: justify;
}

.topico{
    font-size: 26px;
    text-align: justify;
}

#divImagem{
    position: absolute;
    top: 330px;
    left: 5%;
    width: 12%;
    height: 45%;
    z-index: -1;

}

#divImagem1{
    position: absolute;
    top: 330px;
    left: 55%;
    width: 12%;
    height: 45%;
    z-index: -1;

}

#divTextoImagem{
    position: absolute;
    top: 330px;
    left: 20%;
    width: 25%;
    height: 45%;

}

#divTextoImagem1{
    position: absolute;
    top: 330px;
    left: 70%;
    width: 25%;
    height: 45%;

}

.menuCadastrar{
    color: white;
    top: -62px;
    background: #565656;
    height: 60px;
    padding: 15px 35px;
    position: relative;
    float: right;
    border: 1px solid #565656;
}

#msgCampoObrigatorio{
    color: red;
}